# Example ssh.cfg for jumphost
# Change User and IdentityFile(s) as necessary
#

Host bastion 
  Hostname bastion.8ea4.example.opentlc.com
  User ec2-user

Host *.internal
  User ec2-user
  ProxyJump bastion

Match User ec2-user
  IdentityFile ~/.ssh/opentlc_admin_backdoor.pem

Host *
  ControlMaster auto
  ControlPath /tmp/%h-%r
  ControlPersist 5m
  StrictHostKeyChecking no
