{
    "CN": "Red Hat GPTE",
    "hosts": [
        "utilityvm.{{ guid }}.internal"
    ],
    "key": {
        "algo": "rsa",
        "size": 2048
    },
    "names": [
        {
            "C": "US",
            "ST": "Washington",
            "L": "Seattle",
            "OU": "GPTE"
        }
    ]
}
