apiVersion: v1
baseDomain: {{ sandbox_hosted_zone_name }}
compute:
- hyperthreading: Enabled
  name: worker
  platform: {}
  replicas: 0
controlPlane:
  hyperthreading: Enabled
  name: master
  platform: 
    aws:
      type: m5.xlarge
  replicas: 3
metadata:
  name: cluster-{{ lookup('env', 'GUID') }}
networking:
  clusterNetwork:
  - cidr: 10.128.0.0/14
    hostPrefix: 23
  machineCIDR: 192.168.47.0/24
  networkType: OpenShiftSDN
  serviceNetwork:
  - 172.30.0.0/16
platform:
  aws:
    region: us-east-2
publish: External
pullSecret: '{{ lookup('file', HOME ~ '/merged_pullsecret.json') }}'
sshKey: |
  {{ lookup('file', HOME ~ '/.ssh/' ~ GUID ~ 'key.pub') | indent(2, true) }}
imageContentSources:
- mirrors:
  - utilityvm.example.com:5000/ocp4/openshift4
  source: quay.io/openshift-release-dev/ocp-release
- mirrors:
  - utilityvm.example.com:5000/ocp4/openshift4
  source: quay.io/openshift-release-dev/ocp-v4.0-art-dev
additionalTrustBundle: |
  {{ lookup('file', '/etc/pki/ca-trust/source/anchors/ca.pem') | indent(2, false) }}
